body {
    background-color: black;
}

#link_home{
    color: greenyellow;
    font-size: 22px;
}

#link_qasidah{
    color: greenyellow;
    font-size: 30px;
}

body h1{
    color: white;
}

#Body_Area{
    text-align: center;
}

#Stanza_Heading{
    color: silver;
}

#Verse_Heading{
    color: silver;
}

#line{
    color: green;
    width: 75%;
}